{% include 'header.html' %}

    <div class="container">
        <div class="row">
            <div class="col">

{% include 'form.html' %}

<!--
    {{ report|safe }}
-->

                <h1>Result</h1>
                <p>Billing period {{ report.meta.StartDate.strftime('%Y-%m-%d') }} - {{ report.meta.EndDate.strftime('%Y-%m-%d') }}</p>

                <table class="table table-sm">
{% for TeenantId in report.data.customers %}
{{ report.data.customers[CustomerId] }}
                    <tr>
                        <td scope="col">Customer</td>
                        <td scope="col">{{ report.data.customers[TeenantId].CustomerName }}</th>
                    </tr>
                    <tr>
                        <td scope="col">TeenantId</td>
                        <td scope="col">{{ TeenantId }}</th>
                    </tr>
                    <tr>
                        <td scope="col">Domain Name</td>
                        <td scope="col">{{ report.data.customers[TeenantId].CustomerDomainName }}</th>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <br><h5>Subscriptions</h5>
                            <table class="table mb-0 table-sm table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">SubscriptionId</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Customer Cost</th>
                                        <th scope="col">Partner Cost</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
{% for SubscriptionId in report.data.customers[TeenantId].subscriptions %}
                                    <tr>
                                        <td scope="row">{{ SubscriptionId }}</td>
                                        <td scope="row">{{ report.data.customers[TeenantId].subscriptions[SubscriptionId].SubscriptionName }}</td>
                                        <td class="text-end">{{ "%.2f"|format( report.data.customers[TeenantId].subscriptions[SubscriptionId].CustomerCost ) }} EUR</td>
                                        <td class="text-end">{{ "%.2f"|format( report.data.customers[TeenantId].subscriptions[SubscriptionId].PartnerCost ) }} EUR</td>
                                    </tr>
{% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-end">Total</th>
                                        <th class="text-end">{{ "%.2f"|format( report.data.customers[TeenantId].CustomerCost ) }} EUR</th>
                                        <th class="text-end">{{ "%.2f"|format( report.data.customers[TeenantId].PartnerCost ) }} EUR</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <br>

                        </td>
                    </tr>
{% endfor %}
                </table>

            </div>
            <div class="col"></div>
        </div>
    </div>

{% include 'footer.html' %}
